body {
  font: 20px sans-serif;
}

.axis {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
  font-size: 20px;
}

.x.axis path {
  stroke: #fff;
  /*display: none;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill:red;
  opacity:0.5;
}
